
/* Forms */
#content-body .table_action_buttons { margin-top: 10px; }
#content-body ul > li > label { width: 20% !important; float: left !important; display: inline-block !important; }
#content-body ul > li > .input { width: 75% !important; display: inline-block !important; }
#content-body ul > li > .input > * { max-width: 100% !important; }
#content-body ul > li > .clear { height: 0; line-height: 0; clear: both; }
#content-body .pagination { margin: 0; padding: 0; width: auto; float: right; }

/* Admin - Items */
.item_add { margin-top: 15px; }
.items img { width: 32px; height: 32px; display: block; overflow: hidden; text-indent: -10000px; background: url('img/none.jpg') no-repeat 50% 50%; background-size: 32px 32px; }

/* Increment */
.items .increment { margin-top: 5px; }
.increment * { display: block; float: left; margin: 0; }
.increment .minus { border-radius: 4px 0 0 4px; }
.increment .plus { border-radius: 0 4px 4px 0; }
.increment input { border-radius: 0; padding: 6px 5px; text-align: center; width: 30px; min-width: 30px; max-width: 30px; }

/* Modal */
.modal_spacer { height: 90px; width: 100%; }