<section class="bg_perfil large-3 medium-3 small-12 columns item1">
   <section class="categoria_perfil">
   	 <div class="tittles">
        <h1>MI CUENTA</h1>
     </div>
     <ul class="sllider_option marco">
        <li class="perfil_h"><a href="{{ url:site uri='my-profile' }}"><i class="fa"></i> Mi Perfil</a></li>
        <li><a href="{{ firesale:url route='addresses' }}"><i class="fa fa-folder-open"></i> Direcciones Guardadas</a></li>
        <li><a href="{{ firesale:url route='wishlist' }}"><i class="fa fa-heart"></i> Lista de deseos</a></li>
        <li><a href="{{ url:site uri='users/orders' }}"><i class="fa fa-sort-amount-asc"></i> Historial</a></li>
     </ul>
       <div class="clear"></div>
   </section>
</section>

