{{ if url:current != url:site }}
{{ if template:breadcrumbs }}


 <div class="bg_miga">
            <ul class="marco miga_pan">
            <a href="{{ url:site }}">Home</a>
            {{ template:breadcrumbs }}
               {{ if uri }}
                    {{ url:anchor segments=uri title=name }}
               {{ else }}
                    <a href="#">{{ name }}</a>
               {{ endif }}
            {{ /template:breadcrumbs }}
        </ul>
         <div class="clear"></div>

      </div>  


{{ endif }}
{{ endif }}