{{ if user:logged_in }}   
    <!-- Modal -->
    <div id="cartWishlistModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cartWishlistModal" aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="wishlistModalLabel"><i class="icon-heart color"></i> Añadir a mi lista de deseos </h3>
        </div>

        <div class="modal-body">
          {{ firesale_wishlist:lists }}
                {{ if entries }}
                    {{ entries }}
                    <div class="well">
                        <span class="wishlist-name bold">{{ title }}</span><br />
                        <div class="bold">Items:</div> {{ total }}<br />
                        <div class="bold">Total:</div> {{ price }}<br />
                        <div class="bold">Privacidad:</div> {{ privacy.value }}<br />
                        <div class="bold">Estado:</div> {{ status.value }}<br />
                        <div class="text-right">
                            <a class="btn btn-alpha" href="{{ firesale:url route='wishlist' }}/view/{{ id }}"><span>Ver mi lista</span></a>                 
                            <a class="btn btn-alpha" href="{{ firesale:url route='wishlist' }}/cart/{{ id }}"><span>Añadir a mi lista</span></a>
                        </div>           
                    </div>
                    {{ /entries }}
                {{ endif }}
          {{ /firesale_wishlist:lists }}
        </div>

        <div class="modal-footer"></div>

    </div>
{{ endif }}