{{ if theme:options:cart_action == "modal" }}
    {{ firesale:cart }}
      <!-- Button to trigger modal -->
      <a href="{{ firesale:url route='cart' }}">
        Carrito <span class="count_items_cart_ajax">({{ if ! count }}0{{ else }}{{ count }}{{ endif }})</span>
      </a>
    {{ /firesale:cart }}    
{{ else }}
  {{ firesale:cart }}
      <a href="{{ firesale:url route='cart' }}">
        <i class="icon-shopping-cart"></i>
      </a>
  {{ /firesale:cart }}
{{ endif }}