{{ if error_msg }} <div class="hide" id="msg_error_ajax_insert_cart">{{ error_msg }}</div> {{ endif }}
{{ firesale:cart }}
    <a  href="javascript:void(0)"><span></span> <label class="cont_cart_h">({{ if ! count }}0{{ else }}{{ count }}{{ endif }})</label></a>
{{ /firesale:cart }}

<div class="carrito_m">
{{ firesale:cart }}    
  <h5>Tienes <strong class="cont_cart_h">{{ if ! count }}0{{ else }}{{ count }}{{ endif }}</strong>  artículo(s) en tu carrito. <div class="close_cart">x</div></h5>     
  <div class="bg_car_b">
  <ul class="cont_car">
	{{ if products }} 
		<form class="cart-view" action="{{ firesale:url route='cart' }}/update" method="post">
		 {{ products }}            
		 <li id="prd_{{ rowid }}">
			<a href="javascript:void(0)" data-href="{{ firesale:url route='cart' }}/remove/{{ rowid }}" data-prd="prd_{{ rowid }}" class="delete_prd del_prd">x</a>
			
			  {{ if image }}
				 <a href="{{ if modifiers:0:parent }}{{ firesale:url route='product' id=modifiers:0:parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" title="View {{ name }}"><img src="{{ url:site }}files/large/{{ image }}" alt=" {{ name }}"/></a>
			  {{ else }}
				<a href="{{ if modifiers:0:parent }}{{ firesale:url route='product' id=modifiers:0:parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" title="View {{ name }}">  <div class="cart-left">{{ theme:image file="no-image.png" alt=title }}</div></a>
			  {{ endif }}
			  <div class="descrip_car">
				<a href="{{ if modifiers:0:parent }}{{ firesale:url route='product' id=modifiers:0:parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" title="View {{ name }}"><h2>{{ name }}</h2></a>
				<h4>{{ price_formatted }}</h4>
				<!--<h4>Cantidad: {{ quantity }}</h4>-->
				<input name="item[{{ rowid }}][qty]" type="text" value="{{ quantity }}" class="qty" />
				 <button class="btn btn-alpha" name="btnAction" type="submit" value="update" id="update-value-car">Actualizar</button>
			  </div>
			
		 </li>
		{{ /products }}
		</form>
	{{ endif }} 
     <div class="clear"></div>
  </ul>
  <div class="costo_car">
    {{ if products }} 
      <div class="large-6 columns animated">
        <h6>TOTAL</h6>
        <h1 id="total_cart">{{ total }}</h1>
      </div>
      <div class="large-6 columns animated">
          <a href="{{ url:site }}cart" title="" class="btn_border_blan">PAGAR AHORA</a>
      </div>  
        <div class="clear"></div>

      {{ else }}
      <h4>Aún no tienes productos en tu carrito, añade unos para hacer tu compra.</h4>
      <div class="clear"></div>

    {{ endif }} 

   </div>
    
    <div class="clear"></div>  
   </div>
   <div class="clear"></div>  
 {{ /firesale:cart }}
</div>
<script>
  $('.close_cart').click(function(event) {
    $(".carrito_m").toggleClass('carrito_m_open');    
    $(".large-6").addClass('zoomIn');  
    $(".carrito_m li img").addClass('flipInX');    
    $("body").animate({ scrollTop : $( $('header') ).offset().top}, 200);        
  });
</script>