{{ firesale_brands:get featured="1" limit="100" }}
<!--Marcas--
{{ if brands }}
    <div class="marco">
        <div class="large-12"><h4>Marcas Destacadas</h4></div>
    </div>
  <section class="marcar_home">
    <ul class="carrusel_marcas">
        {{ brands }}
         <li class="item">
            {{ if images.0 }}
            <a href="{{ firesale:url route='brand' id=id }}"><img src="{{ url:site }}files/thumb/{{ images.0.id }}" alt="{{ title }}" /></a>
            {{ else }}  
            {{ theme:image file="no-image.png" alt=title }}
            {{ endif }}
         </li>
        {{ /brands}}
    </ul>
  </section>
  <!--Fin Marcas-->

{{ endif }}
{{ /firesale_brands:get }}	