<div class="top_up"><i class="fa fa-angle-double-up"></i></div>
<footer>
    <section class="marco">
      <ul class="nav_fotter">
        {{ navigation:links group="header" }}
      </ul> 

      <div class="creditos"> 
      {{ widgets:instance id="2"}}       
      </div>


    </section>
    <div class="derechos-autor">
    <section class="marco">
        <div class="row">
        <div class="large-8 medium-6 small-12 columns">
           <div class="derechos">Copyright &copy; {{ helper:date format="Y" }} - <span>{{ settings:site_name }}</span> - Todos los derechos reservados.</div>   
        </div>
        <div class="large-4 medium-6 small-12 columns">
          <div class="footer-autor">
            <span id="ahorranito2"></span><a href="http://www.imaginamos.com" target="_blank">Desarrollo de Software imagin<span>a</span>mos.com</a>
          </div>  
        </div>
          
        </div>
                        
    </section>
    </div>

  </footer>
 </section><!--Content_all-->
</body>
</html>
