<nav class="menu_nav elem_negros">
  <div class="buscador">
        <form class="form-search buscar" method="post" action="{{ url:site uri='search' }}">
            <input type="hidden" name="category" value="all" />
            <input type="text" name="search" class="tex_busc" placeholder="Buscar..." id="appendedInputButton" />
            <button type="submit" name="btnAction" value="search" class="btn_gris"><i class="fa fa-search"></i></button>
        </form>
  </div>
  <ul>
    <li class="dropdown">
        <a href="{{ firesale:url route='category' }}"><span>Productos</span></a>
    </li>
    {{ navigation:links group="header" }}
    {{ if user:logged_in }}
    <li><a href="{{ url:site uri='my-profile' }}" class="animated flipInX" data-wow-delay="0.6s">Mi Cuenta</a></li>
    <li><a href="{{ url:site uri='users/logout' }}" class="animated flipInX" data-wow-delay="0.7s">Cerrar Sesión</a></li>
    {{ else }}
    <li><a href="{{url:base}}users/login" class="animated flipInX" data-wow-delay="0.6s">Iniciar Sesión</a></li>
    <li><a href="{{url:base}}users/register" class="animated flipInX" data-wow-delay="0.7s">Registrarse</a></li>
    {{ endif }}

  </ul>
</nav> 