<section class="marco_login marco_login_close">
   <div class="marco elem_negros">
      <a href="javascript:void(0)" class="close_login"></a>
      <!---Fomulario Login-->
      <div class="bg_form_login form_login fadeInUp">
         <h2>INICIAR SESIÓN</h2>
         <?php echo form_open('users/login', array('class'=>'user_form form-horizontal'), array('redirect_to' => current_url())) ?>
           <fieldset class="fila large-6 medium-6 columns item1">
             <?php echo form_input('email', $this->input->post('email') ? $this->input->post('email') : '', 'placeholder="Correo Electrónico"' )?>
            </fieldset>
           <fieldset class="fila large-3 medium-6 columns">
             <input type="password" id="password" name="password" maxlength="20" class="input-h w180" placeholder="Contraseña"/>
           </fieldset>          
           <fieldset class="large-3 medium-3 columns item2">
              <input type="submit" value="INGRESAR" name="btnComenario" Class="btn_border_blan">                  
           </fieldset>
              <div class="clear"></div>
           <div class="large-12 medium-12">
             <a href="{{ url:site }}users/reset_pass" data-effect="mfp-3d-unfold" class="link2">¿Olvidaste tu contraseña?</a>
           </div>
        <?php echo form_close() ?> 
      </div>
      <!---Fin Fomulario Login-->
       <div class="clear"></div>
    
      <!---Fomulario Registro-->
      <div class="bg_form_registro form_registro fadeInUp">
         <h2>REGÍSTRATE</h2>
        <?php echo form_open('register', array('class'=>'user_form form-horizontal')) ?>

           <fieldset class="fila item1">
             <input type="text" maxlength="50" id="first_name" value="" name="first_name" placeholder="Nombres" />
           </fieldset>
           <fieldset class="fila item1">
             <input type="text" maxlength="50" id="last_name" value="" name="last_name" placeholder="Apellidos" />
           </fieldset>
           <fieldset class="fila item1">
             <input type="text" name="email" maxlength="100" placeholder="E-mail"  />
             <?php echo form_input('d0ntf1llth1s1n', ' ', 'class="default-form" style="display:none"') ?>
           </fieldset>
           <fieldset class="fila item1">
             <input type="password" name="password" placeholder="Contraseña"> 
           </fieldset>          
           <fieldset class="fila2">
              <input type="submit" value="INGRESAR" name="btnComenario" Class="btn_border_blan">                  
           </fieldset>
           <div class="clear"></div>
           <div class="confirm checkbox">
            <input type="checkbox" id="termCondnewsletter2" name="termCondnewsletter"/>
            <label for="termCondnewsletter2">Acepto <a href="{{ widgets:instance id="6"}}" data-effect="mfp-move-horizontal" target="_blank">Términos y Condiciones.</a>
            </label>
           </div> 
           <div class="clear"></div>
              
         <?php echo form_close() ?>
      </div>
      <!---Fin Fomulario Registro-->
   </div>
     <div class="clear"></div>
</section>
<div class="bg_black"></div>
<header>
  <div class="acceos_site animated fadeInDown" data-wow-delay="0.2s">
    <section class="marco">
      <ul class="ingresos">
        <!--Buscador-->
        <li class="buscador_h"> 
          <a href="javascript:void(0)" class="search_button bottom_tip" data-tips="Buscar">
            <span><i class="fa fa-search"></i></span>
          </a> 
        </li>
        <!--Fin Buscador-->
        {{ if user:logged_in }}         
            <li class="desple"><a href="{{ url:site uri='users/logout' }}"><span><i class="fa fa-sign-in"></i></span> Cerrar Sesión</a></li>
            <li class="close_Sesion perfil_h user_menu"><a href="{{ url:site uri='my-profile' }}" title=""><span></span> Hola, {{ user:display_name }}!</a>
               <div class="subnav_menu">
                    <ul>                    
                      <li class="perfil_h"><a href="{{ url:site uri='edit-profile' }}"><i class="fa fa-pencil-square-o"></i> Editar perfil</a></li>
                      <li><a href="{{ firesale:url route='addresses' }}"><i class="fa fa-folder-open"></i> Mis direcciones</a></li>
                      <li><a href="{{ firesale:url route='wishlist' }}"><i class="fa fa-heart"></i> Lista de deseos</a></li>
                      <li><a href="{{ url:site uri='users/orders' }}"><i class="fa fa-sort-amount-asc"></i> Historial</a></li>
                      <!-- <li><a href="{{ url:site uri='users/logout' }}"><i class="fa fa-sign-out"></i> {{ helper:lang line="logout_label" }}</a></li> -->
                       <div class="clear"></div>
                    </ul>  
                </div>
            </li>        
        {{ else }}
           <li class="registro_h"><a href="javascript:void(0)"><span></span> Regístrate</a></li>
           <li class="login_h"><a href="javascript:void(0)"><span></span> Iniciar sesión</a></li>
        {{ endif }}
       <!---Carrito Header-->
        <li class="carrito_h">
          {{ theme:partial name="cart_action" }}
        </li>
		{{ widgets:instance id="5"}}
        <!---Fin Carrito Header-->        
      </ul>
    </section>
  </div>
 <section class="marco">
    <a href="{{ url:site }}" class="logo animated fadeInDown"><img src="{{ url:site }}{{ widgets:instance id="1"}}"/></a>
    
    <nav>
      <ul>
        {{ firesale:categories order="ordering_count asc" parent="0" }}
        {{ if children > 0 }}
        <li>
          <a href="{{ firesale:url route='category' id=id }}" class="animated flipInX cont_sub"><span>{{ title }}</span></a>
          <!------Contenido Sub Menu---->
          <div class="nav_vista">
             <ul class="submenu">
              {{ firesale:sub_categories order="ordering_count asc" parent=id }}
                <a href="{{ firesale:url route='category' id=id }}" data-hover="{{ title }}">{{ title }}</a> <!-- {{ firesale:url route='category' id=id }} -->
              {{ /firesale:sub_categories }}
             </ul>
             <section class="cont_nav">
                  {{ firesale:sub_categories order="ordering_count asc" parent=id }}
                  <article class="conten_categ">
                        <ul class="subcateg">
					      <li class="text_li">SUB CATEGORÍAS</li>
                          {{ firesale:sub_sub_categories order="ordering_count asc" parent=id }}
                            <a href="{{ firesale:url route='category' id=id }}" data-hover="{{ title }}">{{ title }}</a> <!-- {{ firesale:url route='category' id=id }} -->
                          {{ /firesale:sub_sub_categories }}
                        </ul>

                          {{ firesale_brands:get_category limit="4" category=id }}
                        <ul class="subcateg">
                    <li class="text_li">MARCAS</li>
                          {{ if brands }}
                            {{ brands }}
                                <a href="{{ firesale:url route='brand' id=id }}">{{ title }}</a>
                            {{ /brands }}
                          {{ endif }}
                        </ul>
                    {{ /firesale_brands:get_category }}
                    {{ if images }}<ul class="product_dest_nav">
                      
                        <li class="bounceIn">                          
                          <div class="mask">
                            <a href="{{ firesale:url route='category' id=id }}">
                            <div class="btn_border_blan">Detalle</div>
                            </a>  
                          </div>
                           <img src="{{ images:0:path}}" />                 
                        </li>
                        <li class="bounceIn">                          
                          <div class="mask">
                            <a href="{{ firesale:url route='category' id=id }}">
                            <div class="btn_border_blan">Detalle</div>
                            </a>  
                          </div>
                           <img src="{{ images:1:path}}" />                 
                        </li>
                      
                    </ul>{{ endif }}
                </article> 
                {{ /firesale:sub_categories }}
             </section>
          </div>
          <!----Fin Contenido Sub Menu---->
        </li>
        {{ else }}
        <li>
            <a  href="{{ firesale:url route='category' id=id }}" class="animated flipInX">{{ title }}</a>
            <!------Contenido Sub Menu---->
        </li> 
        {{ endif }}
        {{ /firesale:categories }}
        <li><a href="{{url:site}}offers" class="animated flipInX btn-header">Ofertas</a></li>
      </ul>
    </nav> 
 </section>
    <div class="nav-resp left" data-effect="st-effect-7"><ul> <li></li> <li></li> <li></li> </ul></div>
</header>
<section class="over_nav"></section>

<!--Modal Preview Productos-->
<div id="modal_preview" class="modal_pop mfp-with-anim modal_large">
  <div id="ajax_content">
    
  </div>
      
  <button title="Close (Esc)" type="button" class="mfp-close">×</button>
</div>
<!--Fin Modal Preview Productos--> 


<!--Modal Newslleter-->
<div id="modal_nwslletter" class="modal_pop mfp-with-anim modal_peque">
   <h1 id="title_modal"></h1>
   <div class="cont_modal">         
      <div class="cont_bord modal_msg">
        
      </div>
       <div class="clear"></div>
    </div>
    
  <button title="Close (Esc)" type="button" class="mfp-close">×</button>
</div>
<!--Fin Modal Newslleter--> 


<!--Modal Lista de Deseos-->
<div id="wishlistModal" class="modal_pop mfp-with-anim modal_peque" data-wishlist-url="{{ firesale:url route='wishlist' }}">
   <h1 id="title_modal">Mis listas de deseo</h1>
   <div class="cont_modal">         
      <div class="cont_bord modal_msg cajasdir">
        {{ firesale_wishlist:lists }}
                {{ if entries }}
                    {{ entries }}
                    <li class="large-6 medium-12 small-12 columns item1 well" data-wishlist-id="{{ id }}">
                      <div class="caja_borde">
                        <span class="delete_deseo">
                          <a href="{{ firesale:url route='wishlist' }}/delete/{{ id }}">
                            <span class="left_tip" data-tips="Eliminar">
                              <i class="fa fa-times"></i>
                            </span>  
                          </a>
                        </span>
                        <h3>
                          {{ title }} 
                          <div class="btn_edit"><a href="{{ firesale:url route='wishlist' }}/edit/{{ id }}">
                            <span  class="right_tip" data-tips="Editar">
                            <i class="fa fa-pencil-square-o"></i>
                            </span>
                          </a></div>
                        </h3>
                        <p>Artículos: {{ total }}</p>
                        <p>Privacidad: {{ privacy.value }}</p>
                        <p>Estado: {{ status.value }}</p>

                        <span class="bgn_ver_m">
                          <a class="btn_border left m_r_10 wishlist_add_link" href="{{ firesale:url route='wishlist' }}/cart/{{ id }}"><span> Agregar  </span></a>
                          <a class="btn_border left" href="{{ firesale:url route='wishlist' }}/view/{{ id }}"><span> Ver  </span></a>
                        </span> 
                         <div class="clear"></div>
                      </div> 
                     </li>
                      
                    {{ /entries }}
                     <div class="clear"></div>
                  {{ endif }}
            {{ /firesale_wishlist:lists }} 
            <div>
              <a class="btn_gris" href="{{ firesale:url route='wishlist' }}/create"><span>Crear Lista </span></a>
            </div>
            <br>
      </div>
       <div class="clear"></div>
    </div>
    
  <button title="Close (Esc)" type="button" class="mfp-close">×</button>
</div>
<!--Fin Modal Lista de Deseos--> 


<!-- Modal Buscador  -->
<section class="bg_buscador_over">
  <div class="marco elem_blancos">
    <div class="close_login"></div>
      <h3>¿Qué estás buscando?</h3>
      <form method="post" action="{{ url:site uri='search' }}" class="form_buscar">
          <input type="text" name="search" class="search_big" placeholder="Buscar producto..." id="appendedInputButton" />
          <button type="submit" name="btnAction" value="search" class="search-btn"><i class="fa fa-search"></i></button>
      </form>
      <p>Si no has obtenido ningún resultado. Por favor, vuelve a intentarlo. </p>
    </div>
</section>
<!-- Fin Modal Buscador  -->


<!------------Alertas---------->
{{ if session:messages }}
<div class="session-message-box">
    <div class="session-messages">
        <i class="fa fa-check"></i>
        {{ session:messages success="alert-success" notice="alert" error="alert alert-error" }}
        {{ message }}
        <button type="button" class="close" data-dismiss="alert"></button>
        {{ /session:messages }}
    </div>
</div>
{{ endif }}
<!-----------Fin Alertas----------->
