	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport' />
	<meta http-equiv="prefech" content="" href="<?php echo base_url(); ?>uploads/default/spinner.gif" />

	<title>{{ settings:site_name }} &bull; {{ template:title }}</title>
	{{ theme:favicon file="favicon.ico" }}
	<!-- Estilos -->
	{{ theme:css file="tienda.css" }}
	<!-- JS -->
	{{ theme:js file="lib/jquery-1.11.0.min.js" }}
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<!-- Librerias -->
	{{ theme:js file="lib/animated.js" }}
	{{ theme:js file="lib/jquery.magnific-popup.js" }}
	{{ theme:js file="lib/html5.js" }}
	{{ theme:js file="lib/jquery.scrollpanel.js" }}
	{{ theme:js file="lib/jquery.slider.js" }}
	{{ theme:js file="lib/modernizr.min.js" }}
	{{ theme:js file="lib/owl.carousel.min.js" }}
	{{ theme:js file="lib/slider.js" }}
	{{ theme:js file="lib/wow.min.js" }}
	{{ theme:js file="lib/gallery_z.js" }}	
	<!-- Funciones -->
	{{ theme:js file="ajaxluis.js" }}
	{{ theme:js file="app.js" }}
	{{ theme:js file="main.js" }}	
	<!-- Google Analytics -->
	{{ integration:analytics }}
	<!-- URL'S -->
	<script>var CHAT_SERVER_URL = "{{ url:site }}";</script>
	<script>var SITE_URL = '{{ url:site }}'</script>
	<div id="baseurl" style="display:none">{{ url:site }}</div>
