<footer>
    <section class="marco">
      <ul class="nav_fotter">
        {{ navigation:links group="header" }}
            <li><a href="{{ url }}">{{ title }}</a><li>
          {{ /navigation:links }}
      </ul> 

      <div class="creditos"> 
      {{ widgets:instance id="2"}}       
                   
        <div class="derechos-autor">
            <div class="derechos">© 2014 <span>eCommerce</span> - Todos los derechos reservados</div>   
            <div class="footer-autor">
              <span id="ahorranito2"></span><a href="http://www.imaginamos.com" target="_blank">Desarrollo de Software imagin<span>a</span>mos</a>
            </div>                
        </div>
      </div>

    </section>
  </footer>
 </section><!--Content_all-->
</body>
</html>
