<?php if (module_enabled('newsletters')): ?>
<div class="container newsletter">
  <div class="row">
    <div class="span12">
      <div class="well">
        <h5><i class="icon-envelope-alt"></i> Suscríbete - no te pierdas nada!</h5>

        {{ if {newsletter:is_subscribed != "1"} }}
            <p>Usted está suscrito a nuestro boletín de noticias.</p>
        {{ else }}
          <p>Manténgase al día con las últimas ofertas y eventos mediante la suscripción a nuestro boletín.</p>
            <form class="center" action="{{ url:site }}newsletters/subscribe" method="post">
                <input name="email" class="span3" required="required" placeholder="Ingrese su dirección de correo electrónico para suscribirse" type="text"> <button class="btn btn-inverse" type="submit" name="btnAction" value="subscribirse">Subscribirse</button>
            </form>
        {{ endif }}

      </div>
    </div>
  </div>
</div>
<?php endif; ?>