
<div class="widget">
    <h4>Posts Recientes </h4>
    <ul>
    {{ blog:posts limit="5" }}
        <li>
            <a href="{{ url }}">
            <span class="title">{{ title }}</span>
            <span class="date">{{ helper:date format='j M y' timestamp=created }}</span>
            </a>
        </li>
    {{ /blog:posts }}
    </ul>
</div>

<div class="widget">
    <h4>Categorias</h4>
    <ul>
    {{ blog:categories }}
        <li>
            <a href="{{ url:site }}blog/category/{{ slug }}">{{ title }}</a>
        </li>
    {{ /blog:categories }}
    </ul>
</div>

<div class="widget tags">
    <h4>Tags </h4>
    <span class="tags">
    {{ blog:tags }}
        <a href="{{ url }}">{{ title }}</a>
    {{ /blog:tags }}
    </span>
</div>