.rating { width: 110px; font-weight: bold; line-height: 17px; }
.btn.blue { float: right; margin: 20px 0 0 0; }
.stars { width: 75px; height: 15px; margin-right: 5px; float: left; display: inline-block; text-align: right; line-height: 17px; font-weight: bold; background: url('img/stars.png') no-repeat 0 -15px; }
.stars span { height: 15px; display: inline-block; float: left; background: url('img/stars.png') no-repeat 0 0; }