#reviews_search { width: 545px; height: 56px; float: right; padding: 0; margin: 23px -40px 0 0; }
#reviews_search fieldset { padding: 0; border: none; }
#reviews_search label { width: 230px; display: inline-block; text-align: right; }
#reviews_search div.input { width: 270px; display: inline-block; }

#reviews_table  .chzn-container { width: 170px !important; margin: 0; }
#reviews_table  .chzn-drop { width: 168px !important; margin: 0; }
#reviews_table  .chzn-search input { width: 133px !important; margin: 0; }
#reviews_table .rating { width: 120px; text-align: center; }

a.show-filter { width: 21px; height: 22px; background: url(img/filter.png) no-repeat; float: right; cursor: pointer; margin: 7px 0 0 0; }
#filters > ul { width: 100%; display: block; }
#filters > ul > li:first-child { margin-top: 0 !important; }
#filters > ul > li > center > input[type="text"] { width: 220px !important; }
#filters > ul > li > center .chzn-single li span { text-align: left !important; }
.chzn-container .chzn-single span, .chzn-container li { text-align: left !important; }
