body{height:100%;padding:0px 0 0;background:#eee;font-family:'Droid Sans', Helvetica, Arial, sans-serif;color:#353535;margin:0 auto}

#css-contenido{min-height:100%;height:auto!important;position:relative;margin:0 auto;background-color:#fff}

.table th{text-align:center}

.css-colnum{text-align:right !important}

/*menu principal*/

.navbar-fixed-top{position:fixed;margin:0px}

.navbar-inner{border-top:none;border-left:none;border-right:none}

#css-tituloPanel{padding:1px 0;background:#ccc;position:relative}

#css-tituloPanel h4{font-size:14px;color:#353535;padding:2px 0;margin:0;text-align:center}

.css-tituloModulos{background:#19618E !important}

.css-tituloModulos h4{color:#fff !important}

/*Vista Ampliada*/

.css-header-vistaAmpliada{height:34px;padding:6px 20px 2px;background:#ddd;position:relative;margin:0 0 10px}

.css-header-vistaAmpliada h4{font-size:14px;color:#353535;margin:0}

.css-titulo-header-vistaAmpliada{margin:5px 0 0 3px;display:inline-block}

#css-body-vistaAmpliada{margin:0 30px}

#css-tabla-vistaAmpliada{margin:0 5px}

/*gráficos widgets*/

.css-graficoWidget{height:350px;overflow:auto;margin:0 auto}

.css-graficoWidget svg{min-width:100px;height:350px}

.css-pdf-graficoWidget svg{min-width:100px;height:370px}

/*widgets*/

#css-grupoWidgets{padding:0 10px !important; height: auto !important; text-align:  center;}

.css-widget {margin:8px;border:1px #ccc solid;width:300px;display:inline-block}

.css-header-widget {padding:5px 7px;font-size:14px;color:#fff;border-bottom:1px #ccc solid;font-weight:bold;background:#19618E}

.periodoWidget{border:1px solid #ccc}

.periodoWidgetInput{width:80px;height:15px !important;border:none !important;background:#f6f6f6 !important;box-shadow:none !important;border-right:1px solid #ccc}

.periodoWidgetAddon{height:15px !important;background:#f6f6f6 !important;border:none !important;padding:1px 0px 0px 5px !important}

.periodoWidgetTitulo{font-size:14px;vertical-align:20%}

.css-body-widget{min-height:250px;background:#F6F6F6;padding: 15px 5px 0}

.css-footer-widget {height:25px;font-size:12px;background:#F6F6F6;padding:4px 5px;border-bottom: 1px solid #CCC}

.css-footer-widget a{text-decoration:none;color:#333}

.css-opcioneswidget,.css-ayudaWidget{padding: 5px}

.css-menu-opcioneswidget{}

.css-loaderWidget{float:left;position:relative;top:189px}

.progress{margin:0 65px 0 0 !important}

.css-porcProgress{display:block;float:right;width:60px;padding-left:5px;font-size:12px;font-weight:bold;text-align:right}

/*masonry sortable*/

.ui-sortable-placeholder {border:3px dotted #19618E;visibility:visible !important;height:350px !important;display:inline}

.ui-sortable-placeholder * {visibility:hidden}

.bigun{width:300px;height:50px;margin-top:20px}

.card-sortable-placeholder{background:#f9f9f9 !important;border:3px #ccc dotted}

.dragging {opacity:0.8;background:#fff !important}

/*footer*/

#css-footer{background:#e5e5e5;height:50px}

.css-contFooter{width:auto;float:right;font-size:12px;padding:0 20px 0 0}

.css-contFooter .credit{padding:15px 0 0}

.credit a{padding:0 5px}

/*sprite tipos archivos*/

.ico_pdf, .ico_xls, .ico_xls_bw, .ico_xls_color{background: url(../images/apps.png) no-repeat; width: 14px;height: 14px;display:inline-block}

.ico_pdf{background-position: 0 0}.ico_xls{background-position: -15px 0}.ico_xls_bw{background-position: -30px 0}.ico_xls_color{background-position: -45px 0}

/*---------------*/

@media screen and (max-width:1500px){}

@media(max-width:980px){

    .css-header-vistaAmpliada{margin-top:10px}

    #css-grupoWidgets{padding-top:10px}

}

@media(max-width:768px){

    .navbar-static-top{width:auto}

    .css-contFooter{float:none;text-align:center;margin:0;padding:0}

    .css-contFooter .credit{padding:10px 0}

    #css-body-vistaAmpliada{margin:0 5px}

}

@media(max-width:767px){

    #wrapper .title{padding-left:0;padding-right:0} 

    #wrapper .title h4{padding:2px 0}

    #wrapper .title a{margin-right:0}

}

@media(max-width:640px){

    body{font-size:12px}

    .no_resp{display:none}

    .navbar .nav{float:right}

}

@media(max-width:480px){

   .css-widget{margin: 8px 0 !important}

   .css-header-vistaAmpliada{padding:6px 10px 2px}

   .css-titulo-header-vistaAmpliada{max-width:350px;white-space:nowrap; overflow:hidden;text-overflow: ellipsis}



}

@media(max-width:340px){

   .navbar .nav > li > a{padding:10px}

   .css-titulo-header-vistaAmpliada{max-width:180px}

}

@media(max-width:320px){

   .navbar .nav > li > a{padding:10px}

}