<!doctype html>
<!--[if lt IE 7 ]><html lang="en-GB" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-GB" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-GB" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-GB" class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB"><!--<![endif]-->
	<head></head>
		{{ theme:partial name="metadata" }}
	
	<body>
		{{ theme:partial name="header" }}
			<div class="container">		

			    {{ theme:partial name="breadcrumb" }}	
				
				<div class="content contact-two">
				  <div class="container">
				    <div class="row">
				        
				        <div class="span6">
				       		<!-- Contact form -->
				       		<h1 class="title">Contact Form</h1>
				       		<div class="form">
				       		  <!-- Contact form (not working)-->
				       		{{ contact:form name="text|required" email="text|required|valid_email" subject="dropdown|Enquiry|Feedback|Site Issue|Bug|Other" message="textarea|required" }}
								<div class="control-group">
									<label class="control-label" for="contact_name">Name:</label>
									<div class="controls">{{ name }}</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="contact_email">Email:</label>
									<div class="controls">{{ email }}</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="contact_subject">Subject:</label>
									<div class="controls">{{ subject }}</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="contact_message">Message:</label>
									<div class="controls">{{ message }}</div>
								</div>
							{{ /contact:form }}
				       		</div>

				       		<hr />        
				       		<div class="center social-large">
				       		    <!-- Social media icons -->
				       		    <h3>Get in touch:</h3>
				       		    <div class="social">
                					{{ if theme:options:twitter_account }}
                					  <a target="_blank" href="https://www.facebook.com/{{ theme:options:facebook_account }}"><i class="icon-facebook-sign facebook"></i></a>
                					{{ endif }}
                					{{ if theme:options:facebook_account }}
                					  <a target="_blank" href="https://www.twitter.com/{{ theme:options:twitter_account }}"><i class="icon-twitter-sign twitter"></i></a>
                					{{ endif }}
                					{{ if theme:options:linkedin_account }}
                					  <a target="_blank" href="https://www.linkedin.com/{{ theme:options:linkedin_account }}"><i class="icon-linkedin-sign linkedin"></i></a>
                					{{ endif }}
                					{{ if theme:options:google_account }}
                					  <a target="_blank" href="https://www.google.com/{{ theme:options:google_account }}"><i class="icon-google-plus-sign google-plus"></i></a>
                					{{ endif }}
                					{{ if theme:options:github_account }}
                					  <a target="_blank" href="https://www.github.com/{{ theme:options:github_account }}"><i class="icon-github-sign github"></i></a>
                					{{ endif }}
				       		    </div>
				       		</div>
				    	</div>

				        <div class="span6">
				        	<!-- Google Map -->
				          	{{ if theme:options:google_map == "yes" }}
				          		<div class="google-map">
				          			<h2 class="title">Location</h2>
				          			{{ firesale_theme:map type=theme:options:google_maps_type zoom="16" type_control="false" streetview="false" width="100%" height="400px" address=theme:options:contact_address maps_api="false" }}
				          		</div>
				            	<hr />
				            {{ endif }}
				         	
				         	{{ if theme:options:contact_address }}
				            <!-- Address -->
				            <h3 class="title">Address</h3>
				            <div class="address">
				                <address>
				                	<!-- Company name -->
				                	<strong>{{ settings:site_name }}</strong><br/>
				                	<!-- Address -->
				                	<i class="icon-home"></i> {{ theme:options:contact_address }}<br/>
				                	<!-- Phone number -->
				                	{{ if theme:options:contact_phone }}
				                   		<icon class="icon-phone"></i> {{ theme:options:contact_phone }}<br/>
				                	{{ endif }}
				                	<icon class="icon-envelope-alt"></i> <a href="mailto:#">{{ settings:contact_email }}</a>
				                </address> 
				            </div>
				            {{ endif }}
				        </div>
				    </div>
				  </div>
				</div>
				
				{{ theme:partial name="newsletter" }}

			</div>
		{{ theme:partial name="footer" }}
	</body>
</html>