<!doctype html>
<!--[if lt IE 7 ]><html lang="en-GB" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-GB" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-GB" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-GB" class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB"><!--<![endif]-->
    <head></head>
        {{ theme:partial name="minimal_metadata" }}
    
    <body>
    	<div class="main-content">
            {{ theme:partial name="minimal_header" }}
    
            <div class="container push-footer">	
    
                {{ template:body }}
    
            </div>
        
        
            {{ theme:partial name="minimal_footer" }}
    	</div>
        <div class="main-nav">
        	{{ theme:partial name="header_device" }}
        </div>
</body>
</html>