<!doctype html>
<!--[if lt IE 7 ]><html lang="en-GB" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-GB" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-GB" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-GB" class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB"><!--<![endif]-->
    <head>
        {{ theme:partial name="metadata" }}
    </head>
    <body>
        {{ theme:partial name="header" }}

        {{ theme:partial name="slider" }}

        <div class="container push-footer">	

            {{ theme:partial name="breadcrumb" }}

            <div class="row">

                <div class="span3">
                    <ul id="navi">
                        {{ navigation:links group="sidebar" }}
                        {{ if children }}
                        <li class="dropdown"><a href="{{ url }}" class="{{ class }}"><span>{{ title }} <b class="caret"></b></span></a>
                            <ul class="dropdown-menu">
                                {{ children }}
                                <li><a href="{{ url }}">{{ title }}</a></li>
                                {{ /children }}
                            </ul>
                            {{ else }}
                        <li><a href="{{ url }}" class="{{ class }}">{{ title }}</a>
                            {{ endif }}
                            {{ /navigation:links }}
                    </ul>
                    </nav>

                    <div class="span9 pull-right">
                        {{ template:body }}
                    </div>

                </div>

                {{ theme:partial name="newsletter" }}

            </div>
        </div>
        {{ theme:partial name="footer" }}
    </body>
</html>