<!doctype html>
<!--[if lt IE 7 ]><html lang="en-GB" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-GB" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-GB" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-GB" class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB"><!--<![endif]-->
	<head>
		{{ theme:partial name="metadata" }}
	</head>
	<body>
		{{ theme:partial name="header" }}
			<div class="container push-footer">		

				{{ theme:partial name="breadcrumb" }}

				<div class="content error-page">
				  <div class="container">
				    <div class="row">
				      <div class="span4">  
				        <div class="big-text">{{ page.title }}</div>
				        <hr />
				      </div>
				      <div class="span7 offset1">
				        {{ page.body }}
				      </div>
				
				    </div>
				  </div>
				</div>

				{{ theme:partial name="newsletter" }}
				
			</div>
		{{ theme:partial name="footer" }}
	</body>
</html>