.mult_lists tr.alt{border-bottom:none;}
.mult_lists tbody{border:1px solid #eee;}
.mult_lists td{border-left:none!important;padding:1px 0 0!important;}
.mult_lists ul{overflow-x:hidden;width:260px;padding:5px!important;}