<!-- Pedido Completo (Admin) -->
<style type="text/css">.ecximgpop{
      position: relative;
    }
    .ecximgpop>div{
      color: #686970;
      font-family: Helvetica, arial, sans-serif;
      font-size: 15px;
      text-align: left;
      line-height: 20px;
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 8px;
    }
    .cart-left img{
      width: 70px;
    }
</style>
<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#E9E9EA" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" target="_blank"><img border="0" class="ecxlogo" data-pyroimage="true" height="36" src="{{ url:site }}{{ widgets:instance id='1'}}" style="display:block;border:none;text-decoration:none;" /></a>
						<div>Pedido: N&deg; {{id}}</div>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td height="20" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Estimado Admin,</p>
									</td>
								</tr>
								<tr>
									<td height="8" width="100%">&nbsp;</td>
								</tr>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Acabe de recibir una orden en {{ settings:site_name }}.</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p><strong>Informaci&oacute;n General:</strong></p>

									<p>{{ if ship_to.firstname }}<b>Nombre: </b>{{ ship_to.firstname }}<br />
									{{ endif }} {{ if ship_to.address1 }}<b>Direcci&oacute;n 1: </b>{{ ship_to.address1 }}<br />
									{{ endif }} {{ if ship_to.address2 }}<b>Direcci&oacute;n 2: </b>{{ ship_to.address2 }}<br />
									{{ endif }} {{ if ship_to.city }}<b>Ciudad: </b>{{ ship_to.city }}<br />
									{{ endif }} {{ if ship_to.county }}<b>Departamento: </b>{{ ship_to.county }}<br />
									{{ endif }} {{ if ship_to.postcode }}<b>Cod postal: </b>{{ ship_to.postcode }}<br />
									{{ endif }} {{ if ship_to.country }}<b>Pa&iacute;s: </b>{{ ship_to.country.name }}{{ endif }}</p>
									</td>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p><strong>Informaci&oacute;n de Facturaci&oacute;n:</strong></p>

									<p>{{ if bill_to.firstname }}<b>Nombre: </b>{{ bill_to.firstname }}<br />
									{{ endif }} {{ if bill_to.address1 }}<b>Direcci&oacute;n 1: </b>{{ bill_to.address1 }}<br />
									{{ endif }} {{ if bill_to.address2 }}<b>Direcci&oacute;n 2: </b>{{ bill_to.address2 }}<br />
									{{ endif }} {{ if bill_to.city }}<b>Ciudad: </b>{{ bill_to.city }}<br />
									{{ endif }} {{ if bill_to.county }}<b>Departamento: </b>{{ bill_to.county }}<br />
									{{ endif }} {{ if bill_to.postcode }}<b>Cod postal: </b>{{ bill_to.postcode }}<br />
									{{ endif }} {{ if bill_to.country }}<b>Pa&iacute;s: </b>{{ bill_to.country.name }}{{ endif }}</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" style="" width="640">
							<thead style="border: 1px solid #ddd;background: rgba(233, 233, 234, 1);">
								<tr>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">Imagen</th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;width:190px;"><b>Producto</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>C&oacute;digo</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Precio U.</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Cantidad</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Total</b></th>
								</tr>
							</thead>
							<tbody style="border: 1px solid #ddd;">
								{{ items }} 
								<tr>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ if image }} <a href="{{ if parent }}{{ firesale:url route='product' id=parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" target="_blank" title="Ver {{ name }}"><img alt="{{ name }}" data-pyroimage="true" src="{{ url:site }}files/large/{{ image }}" width="70" /></a> {{ else }}
									<div class="cart-left"><a href="{{ if parent }}{{ firesale:url route='product' id=parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" title="View {{ name }}">{{ theme:image file=&quot;no-image.png&quot; alt=title }}</a></div>
									{{ endif }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><a href="{{ firesale:url route='product' id=id }}" id="id" style="color:#000;text-decoration: none;" target="_blank">{{ name }}</a></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">Item No: {{ code }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ price_formatted }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ qty }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ total }}</td>
								</tr>
								{{ /items }}
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Sub-total:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_sub }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Env&iacute;o:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_ship }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Iva:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_tax }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Total a consignar:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_total }}</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table align="center" bgcolor="#26468D" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" style="color: #fff;text-decoration: none;padding-left: 15px;font-family: Helvetica, arial, sans-serif;font-size: 14px;text-align: left;line-height: 20px;" target="_blank">&copy; {{ helper:date format=&quot;Y&quot; }} {{ settings:site_name }} - Todos los derechos reservados </a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<!-- Pedido Completo (User) -->
<style type="text/css">.ecximgpop{
      position: relative;
    }
    .ecximgpop>div{
      color: #686970;
      font-family: Helvetica, arial, sans-serif;
      font-size: 15px;
      text-align: left;
      line-height: 20px;
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 8px;
    }
    .cart-left img{
      width: 70px;
    }
</style>
<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#E9E9EA" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" target="_blank"><img border="0" class="ecxlogo" data-pyroimage="true" height="36" src="{{ url:site }}{{ widgets:instance id='1'}}" style="display:block;border:none;text-decoration:none;" /></a>
						<div>Pedido: N&deg; {{ id }}</div>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td height="20" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Estimado {{ bill_to.firstname }},</p>
									</td>
								</tr>
								<tr>
									<td height="8" width="100%">&nbsp;</td>
								</tr>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Gracias por su reciente pedido en {{ settings:site_name }},&nbsp;a continuaci&oacute;n encontrar&aacute; los detalles de su pedido y estos se deben mantener para sus propios registros.</p>
									&nbsp;

									<p>Tenga en cuenta que esto es s&oacute;lo una confirmaci&oacute;n de su pedido, una vez que el pago haya sido procesado y sus art&iacute;culos han sido enviados nos pondremos en contacto con usted de nuevo para hacerle saber.</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p><strong>Informaci&oacute;n General:</strong></p>

									<p>{{ if ship_to.firstname }}<b>Nombre: </b>{{ ship_to.firstname }}<br />
									{{ endif }} {{ if ship_to.address1 }}<b>Direcci&oacute;n 1: </b>{{ ship_to.address1 }}<br />
									{{ endif }} {{ if ship_to.address2 }}<b>Direcci&oacute;n 2: </b>{{ ship_to.address2 }}<br />
									{{ endif }} {{ if ship_to.city }}<b>Ciudad: </b>{{ ship_to.city }}<br />
									{{ endif }} {{ if ship_to.county }}<b>Departamento: </b>{{ ship_to.county }}<br />
									{{ endif }} {{ if ship_to.postcode }}<b>Cod postal: </b>{{ ship_to.postcode }}<br />
									{{ endif }} {{ if ship_to.country }}<b>Pa&iacute;s: </b>{{ ship_to.country.name }}{{ endif }}</p>
									</td>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p><strong>Informaci&oacute;n de Facturaci&oacute;n:</strong></p>

									<p>{{ if bill_to.firstname }}<b>Nombre: </b>{{ bill_to.firstname }}<br />
									{{ endif }} {{ if bill_to.address1 }}<b>Direcci&oacute;n 1: </b>{{ bill_to.address1 }}<br />
									{{ endif }} {{ if bill_to.address2 }}<b>Direcci&oacute;n 2: </b>{{ bill_to.address2 }}<br />
									{{ endif }} {{ if bill_to.city }}<b>Ciudad: </b>{{ bill_to.city }}<br />
									{{ endif }} {{ if bill_to.county }}<b>Departamento: </b>{{ bill_to.county }}<br />
									{{ endif }} {{ if bill_to.postcode }}<b>Cod postal: </b>{{ bill_to.postcode }}<br />
									{{ endif }} {{ if bill_to.country }}<b>Pa&iacute;s: </b>{{ bill_to.country.name }}{{ endif }}</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" style="" width="640">
							<thead style="border: 1px solid #ddd;background: rgba(233, 233, 234, 1);">
								<tr>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">Imagen</th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;width:190px;"><b>Producto</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>C&oacute;digo</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Precio U.</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Cantidad</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Total</b></th>
								</tr>
							</thead>
							<tbody style="border: 1px solid #ddd;">
								{{ items }} 
								<tr>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ if image }} <a href="{{ if parent }}{{ firesale:url route='product' id=parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" target="_blank" title="Ver {{ name }}"><img alt="{{ name }}" data-pyroimage="true" src="{{ url:site }}files/large/{{ image }}" width="70" /></a> {{ else }}
									<div class="cart-left"><a href="{{ if parent }}{{ firesale:url route='product' id=parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" title="View {{ name }}">{{ theme:image file=&quot;no-image.png&quot; alt=title }}</a></div>
									{{ endif }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><a href="{{ firesale:url route='product' id=id }}" id="id" style="color:#000;text-decoration: none;" target="_blank">{{ name }}</a></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">Item No: {{ code }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ price_formatted }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ qty }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ total }}</td>
								</tr>
								{{ /items }}
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Sub-total:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_sub }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Env&iacute;o:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_ship }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Iva:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_tax }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Total a consignar:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_total }}</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="left" border="0" cellpadding="0" cellspacing="0" class="ecxtablet-button" height="30" style="margin-left: 30px;">
							<tbody>
								<tr>
									<td align="center" height="30" style="background-color:#042039;border-top-left-radius:4px;border-bottom-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;background-clip:padding-box;font-size:14px;font-family:Helvetica, arial, sans-serif;text-align:center;color:#ffffff;font-weight:300;padding-left:18px;padding-right:18px;" valign="middle" width="auto"><span style="color:#ffffff;"><a href="{{ url:site }}" style="color:#ffffff;text-align:center;text-decoration:none;" target="_blank">Ir a nuestra tienda</a> </span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table align="center" bgcolor="#26468D" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" style="color: #fff;text-decoration: none;padding-left: 15px;font-family: Helvetica, arial, sans-serif;font-size: 14px;text-align: left;line-height: 20px;" target="_blank">&copy; {{ helper:date format=&quot;Y&quot; }} {{ settings:site_name }} - Todos los derechos reservados </a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<!-- Pedido Enviado (user) -->
<style type="text/css">.ecximgpop{
      position: relative;
    }
    .ecximgpop>div{
      color: #686970;
      font-family: Helvetica, arial, sans-serif;
      font-size: 15px;
      text-align: left;
      line-height: 20px;
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 8px;
    }
    .cart-left img{
      width: 70px;
    }
</style>
<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#E9E9EA" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" target="_blank"><img border="0" class="ecxlogo" data-pyroimage="true" height="36" src="{{ url:site }}{{ widgets:instance id='1'}}" style="display:block;border:none;text-decoration:none;" /></a>
						<div>Pedido: N&deg; {{ id }}</div>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td height="20" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Estimado {{ bill_to.firstname }},</p>
									</td>
								</tr>
								<tr>
									<td height="8" width="100%">&nbsp;</td>
								</tr>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Graciar por reciente pedido en&nbsp;{{ settings:site_name }},&nbsp;s&oacute;lo estamos dejando saber que su pedido a&nbsp;sido enviado, as&iacute; como confirmar los datos una vez m&aacute;s.</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p><strong>Informaci&oacute;n General:</strong></p>

									<p>{{ if ship_to.firstname }}<b>Nombre: </b>{{ ship_to.firstname }}<br />
									{{ endif }} {{ if ship_to.address1 }}<b>Direcci&oacute;n 1: </b>{{ ship_to.address1 }}<br />
									{{ endif }} {{ if ship_to.address2 }}<b>Direcci&oacute;n 2: </b>{{ ship_to.address2 }}<br />
									{{ endif }} {{ if ship_to.city }}<b>Ciudad: </b>{{ ship_to.city }}<br />
									{{ endif }} {{ if ship_to.county }}<b>Departamento: </b>{{ ship_to.county }}<br />
									{{ endif }} {{ if ship_to.postcode }}<b>Cod postal: </b>{{ ship_to.postcode }}<br />
									{{ endif }} {{ if ship_to.country }}<b>Pa&iacute;s: </b>{{ ship_to.country.name }}{{ endif }}</p>
									</td>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p><strong>Informaci&oacute;n de Facturaci&oacute;n:</strong></p>

									<p>{{ if bill_to.firstname }}<b>Nombre: </b>{{ bill_to.firstname }}<br />
									{{ endif }} {{ if bill_to.address1 }}<b>Direcci&oacute;n 1: </b>{{ bill_to.address1 }}<br />
									{{ endif }} {{ if bill_to.address2 }}<b>Direcci&oacute;n 2: </b>{{ bill_to.address2 }}<br />
									{{ endif }} {{ if bill_to.city }}<b>Ciudad: </b>{{ bill_to.city }}<br />
									{{ endif }} {{ if bill_to.county }}<b>Departamento: </b>{{ bill_to.county }}<br />
									{{ endif }} {{ if bill_to.postcode }}<b>Cod postal: </b>{{ bill_to.postcode }}<br />
									{{ endif }} {{ if bill_to.country }}<b>Pa&iacute;s: </b>{{ bill_to.country.name }}{{ endif }}</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" style="" width="640">
							<thead style="border: 1px solid #ddd;background: rgba(233, 233, 234, 1);">
								<tr>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">Imagen</th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;width:190px;"><b>Producto</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>C&oacute;digo</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Precio U.</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Cantidad</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Total</b></th>
								</tr>
							</thead>
							<tbody style="border: 1px solid #ddd;">
							   {{ items }} 
								<tr>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ if image }} <a href="{{ if parent }}{{ firesale:url route='product' id=parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" target="_blank" title="Ver {{ name }}"><img alt="{{ name }}" data-pyroimage="true" src="{{ url:site }}files/large/{{ image }}" width="70" /></a> {{ else }}
									<div class="cart-left"><a href="{{ if parent }}{{ firesale:url route='product' id=parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" title="View {{ name }}">{{ theme:image file=&quot;no-image.png&quot; alt=title }}</a></div>
									{{ endif }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><a href="{{ firesale:url route='product' id=id }}" id="id" style="color:#000;text-decoration: none;" target="_blank">{{ name }}</a></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">Item No: {{ code }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ price_formatted }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ qty }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ total }}</td>
								</tr>
								{{ /items }}
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Sub-total:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_sub }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Env&iacute;o:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_ship }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Iva:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_tax }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Total a consignar:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_total }}</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="left" border="0" cellpadding="0" cellspacing="0" class="ecxtablet-button" height="30" style="margin-left: 30px;">
							<tbody>
								<tr>
									<td align="center" height="30" style="background-color:#042039;border-top-left-radius:4px;border-bottom-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;background-clip:padding-box;font-size:14px;font-family:Helvetica, arial, sans-serif;text-align:center;color:#ffffff;font-weight:300;padding-left:18px;padding-right:18px;" valign="middle" width="auto"><span style="color:#ffffff;"><a href="{{ url:site }}" style="color:#ffffff;text-align:center;text-decoration:none;" target="_blank">Ir a nuestra tienda</a> </span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table align="center" bgcolor="#26468D" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" style="color: #fff;text-decoration: none;padding-left: 15px;font-family: Helvetica, arial, sans-serif;font-size: 14px;text-align: left;line-height: 20px;" target="_blank">&copy; {{ helper:date format=&quot;Y&quot; }} {{ settings:site_name }} - Todos los derechos reservados </a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<!-- Cambiar Estado Order ------>
<style type="text/css">.ecximgpop{
      position: relative;
    }
    .ecximgpop>div{
      color: #686970;
      font-family: Helvetica, arial, sans-serif;
      font-size: 15px;
      text-align: left;
      line-height: 20px;
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 8px;
    }
    .cart-left img{
      width: 70px;
    }
</style>
<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#E9E9EA" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" target="_blank"><img border="0" class="ecxlogo" data-pyroimage="true" height="36" src="{{ url:site }}{{ widgets:instance id='1'}}" style="display:block;border:none;text-decoration:none;" /></a>
						<div>Pedido: N&deg; {{ id }}</div>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td height="20" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Estimado {{ bill_to.firstname }},</p>
									</td>
								</tr>
								<tr>
									<td height="8" width="100%">&nbsp;</td>
								</tr>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Pedido cambiado a&nbsp;{{ status_order }}<br />
									Gracias por su reciente pedido &nbsp;{{ settings:site_name }},&nbsp;a continuaci&oacute;n encontrar&aacute; los detalles de su pedido y estos se deben mantener para sus propios registros.</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p><strong>Informaci&oacute;n General:</strong></p>

									<p>{{ if ship_to.firstname }}<b>Nombre: </b>{{ ship_to.firstname }}<br />
									{{ endif }} {{ if ship_to.address1 }}<b>Direcci&oacute;n 1: </b>{{ ship_to.address1 }}<br />
									{{ endif }} {{ if ship_to.address2 }}<b>Direcci&oacute;n 2: </b>{{ ship_to.address2 }}<br />
									{{ endif }} {{ if ship_to.city }}<b>Ciudad: </b>{{ ship_to.city }}<br />
									{{ endif }} {{ if ship_to.county }}<b>Departamento: </b>{{ ship_to.county }}<br />
									{{ endif }} {{ if ship_to.postcode }}<b>Cod postal: </b>{{ ship_to.postcode }}<br />
									{{ endif }} {{ if ship_to.country }}<b>Pa&iacute;s: </b>{{ ship_to.country.name }}{{ endif }}</p>
									</td>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p><strong>Informaci&oacute;n de Facturaci&oacute;n:</strong></p>

									<p>{{ if bill_to.firstname }}<b>Nombre: </b>{{ bill_to.firstname }}<br />
									{{ endif }} {{ if bill_to.address1 }}<b>Direcci&oacute;n 1: </b>{{ bill_to.address1 }}<br />
									{{ endif }} {{ if bill_to.address2 }}<b>Direcci&oacute;n 2: </b>{{ bill_to.address2 }}<br />
									{{ endif }} {{ if bill_to.city }}<b>Ciudad: </b>{{ bill_to.city }}<br />
									{{ endif }} {{ if bill_to.county }}<b>Departamento: </b>{{ bill_to.county }}<br />
									{{ endif }} {{ if bill_to.postcode }}<b>Cod postal: </b>{{ bill_to.postcode }}<br />
									{{ endif }} {{ if bill_to.country }}<b>Pa&iacute;s: </b>{{ bill_to.country.name }}{{ endif }}</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" style="" width="640">
							<thead style="border: 1px solid #ddd;background: rgba(233, 233, 234, 1);">
								<tr>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">Imagen</th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;width:190px;"><b>Producto</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>C&oacute;digo</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Precio U.</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Cantidad</b></th>
									<th style="border: 1px solid #ddd;padding:5px;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Total</b></th>
								</tr>
							</thead>
							<tbody style="border: 1px solid #ddd;">
								{{ items }} 
								<tr>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ if image }} <a href="{{ if parent }}{{ firesale:url route='product' id=parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" target="_blank" title="Ver {{ name }}"><img alt="{{ name }}" data-pyroimage="true" src="{{ url:site }}files/large/{{ image }}" width="70" /></a> {{ else }}
									<div class="cart-left"><a href="{{ if parent }}{{ firesale:url route='product' id=parent }}{{ else }}{{ firesale:url route='product' id=id }}{{ endif }}" title="View {{ name }}">{{ theme:image file=&quot;no-image.png&quot; alt=title }}</a></div>
									{{ endif }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><a href="{{ firesale:url route='product' id=id }}" id="id" style="color:#000;text-decoration: none;" target="_blank">{{ name }}</a></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">Item No: {{ code }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ price_formatted }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ qty }}</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ total }}</td>
								</tr>
								{{ /items }}
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Sub-total:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_sub }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Env&iacute;o:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_ship }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Iva:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_tax }}</td>
								</tr>
								<tr>
									<td colspan="4">&nbsp;</td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;"><b>Total a consignar:</b></td>
									<td style="padding:5px;border: 1px solid #ddd;font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">{{ settings:currency }}{{ price_total }}</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="left" border="0" cellpadding="0" cellspacing="0" class="ecxtablet-button" height="30" style="margin-left: 30px;">
							<tbody>
								<tr>
									<td align="center" height="30" style="background-color:#042039;border-top-left-radius:4px;border-bottom-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;background-clip:padding-box;font-size:14px;font-family:Helvetica, arial, sans-serif;text-align:center;color:#ffffff;font-weight:300;padding-left:18px;padding-right:18px;" valign="middle" width="auto"><span style="color:#ffffff;"><a href="{{ url:site }}" style="color:#ffffff;text-align:center;text-decoration:none;" target="_blank">Ir a nuestra tienda</a> </span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table align="center" bgcolor="#26468D" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" style="color: #fff;text-decoration: none;padding-left: 15px;font-family: Helvetica, arial, sans-serif;font-size: 14px;text-align: left;line-height: 20px;" target="_blank">&copy; {{ helper:date format=&quot;Y&quot; }} {{ settings:site_name }} - Todos los derechos reservados </a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<!-- Correo de activación -->
<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#E9E9EA" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" target="_blank"><img border="0" class="ecxlogo" data-pyroimage="true" height="36" src="{{ url:site }}{{ widgets:instance id='1'}}" style="display:block;border:none;text-decoration:none;" /></a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td height="20" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Estimado Cliente</p>
									</td>
								</tr>
								<tr>
									<td height="8" width="100%">&nbsp;</td>
								</tr>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Gracias por registrarte en&nbsp;{{ settings:site_name }}. Antes de activar tu cuenta, por favor completa el proceso de registro y preciona el siguiente link:<br />
									<a href="{{ url:site }}users/activate/{{ user:id }}/{{ activation_code }}">{{ url:site }}users/activate/{{ user:id }}/{{ activation_code }}</a></p>
									&nbsp;

									<p>En caso de que tu programa de correo electr&oacute;nico no reconoca el enlace anterior, por favor ve al&nbsp;siguiente link e introduzce el c&oacute;digo de activaci&oacute;n:<br />
									<a href="{{ url:site }}users/activate">{{ url:site }}users/activate</a></p>
									&nbsp;

									<p><b>C&oacute;digo de activaci&oacute;n:</b> {{ activation_code }}</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table align="center" bgcolor="#26468D" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" style="color: #fff;text-decoration: none;padding-left: 15px;font-family: Helvetica, arial, sans-serif;font-size: 14px;text-align: left;line-height: 20px;" target="_blank">&copy; {{ helper:date format=&quot;Y&quot; }} {{ settings:site_name }} - Todos los derechos reservados </a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<!-- Olvido su contraseña -->
<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#E9E9EA" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" target="_blank"><img border="0" class="ecxlogo" data-pyroimage="true" height="36" src="{{ url:site }}{{ widgets:instance id='1'}}" style="display:block;border:none;text-decoration:none;" /></a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td height="20" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Estimado Cliente</p>
									</td>
								</tr>
								<tr>
									<td height="8" width="100%">&nbsp;</td>
								</tr>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Parece que has solicitado un restablecimiento de contrase&ntilde;a, por favor, haga clic en este enlace para completar el restablecimiento:<br />
									<a href="{{ url:site }}users/reset_pass/{{ user:forgotten_password_code }}">{{ url:site }}users/reset_pass/{{ user:forgotten_password_code }}</a></p>
									&nbsp;

									<p>Si no has solicitado un restablecimiento de contrase&ntilde;a, por favor ignora este mensaje.</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table align="center" bgcolor="#26468D" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" style="color: #fff;text-decoration: none;padding-left: 15px;font-family: Helvetica, arial, sans-serif;font-size: 14px;text-align: left;line-height: 20px;" target="_blank">&copy; {{ helper:date format=&quot;Y&quot; }} {{ settings:site_name }} - Todos los derechos reservados </a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<!-- Nueva contraseña -->
<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#E9E9EA" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" target="_blank"><img border="0" class="ecxlogo" data-pyroimage="true" height="36" src="{{ url:site }}{{ widgets:instance id='1'}}" style="display:block;border:none;text-decoration:none;" /></a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="ecxblock">
<table bgcolor="#f3f3f4" border="0" cellpadding="0" cellspacing="0" id="ecxbackgroundTable" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td height="20" width="100%">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidthinner" width="640">
							<tbody>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Estimado Cliente</p>
									</td>
								</tr>
								<tr>
									<td height="8" width="100%">&nbsp;</td>
								</tr>
								<tr>
									<td style="font-family:Helvetica, arial, sans-serif;font-size:14px;color:#686970;text-align:left;line-height:20px;">
									<p>Tu nueva contrase&ntilde;a es: {{ new_password }}</p>
									&nbsp;

									<p>Despu&eacute;s de iniciar sesi&oacute;n, puedes cambiar su contrase&ntilde;a al visitar <a href="{{ url:site }}edit-profile">{{ url:site }}edit-profile</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td height="15" width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table align="center" bgcolor="#26468D" border="0" cellpadding="0" cellspacing="0" class="ecxdevicewidth" width="700">
				<tbody>
					<tr>
						<td class="ecxlogo" style="padding:10px 20px;">
						<div class="ecximgpop"><a href="{{ url:site }}" style="color: #fff;text-decoration: none;padding-left: 15px;font-family: Helvetica, arial, sans-serif;font-size: 14px;text-align: left;line-height: 20px;" target="_blank">&copy; {{ helper:date format=&quot;Y&quot; }} {{ settings:site_name }} - Todos los derechos reservados </a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
