
/* General */
.clear { clear: both; height: 0; line-height: 0; }
tbody tr:last-child { border: none; }
.actions { width: 125px; }
#filters > ul { width: 100%; display: block; }
#filters > ul > li:first-child { margin-top: 0 !important; }
#filters > ul > li > center .chzn-single li span { text-align: left !important; }
.chzn-container .chzn-single span, .chzn-container li { text-align: left !important; }
.pagination { margin: 0 !important; }
.overlay { background: rgba(255,255,255,.6) url('../../img/loading.gif') no-repeat 50% 50%; }

/* Form */
ul.width-half { width: 50% !important; display: block; float: left; }
ul.width-half > li { min-height: 44px; }
#price_sub, #price_ship, #price_total { min-width: 70px !important; width: 70px !important; }
#products input { width: 60px; min-width: 60px; }
#filters .datepicker { width: 100px !important; min-width: 100px !important; }
#tabs ul > li > label { width: 20% !important; float: left !important; display: inline-block !important; }
#tabs ul > li > .input { width: 70% !important; display: inline-block !important; }

/* Create */
.items { line-height: 32px; margin: 0 0 -10px 0; height: auto; padding: 20px 0 0 0; }
.items > * { float: left; }
.items .chzn-container { margin: 0; }
.items input { margin: 0 10px; }
.items button { margin: -1px 0 0 0; }
img.image { width: 64px; height: 64px; display: block; background: url('../../img/none.jpg') no-repeat; background-size: 64px 64px; overflow: hidden; text-indent: -1000px; }

/* Table */
a.show-filter { width: 21px; height: 22px; background: url(../../img/filter.png) no-repeat; float: right; cursor: pointer; margin: 0 15px 0 0; }
table.tablesorter thead tr .tablesorter-header{background-image:url(../../img/bg.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table.tablesorter thead tr .tablesorter-headerSortUp{background-image:url(../../img/asc.gif);}
table.tablesorter thead tr .tablesorter-headerSortDown{background-image:url(../../img/desc.gif);}
table.tablesorter thead tr .tablesorter-headerSortDown, table.tablesorter thead tr .tablesorter-headerSortUp{background-color:#f3f3f3;color:#000;}
table.tablesorter input[type=search] { width: 100% !important; min-width: 100% !important; }
table.tablesorter tbody tr.status-2, table.tablesorter tbody tr.status-2 td { background: #F0FBEA; }
table.tablesorter tr.selected td { background: #E1EFFB !important; }

/* Slider */
.ui-slider-cont { width: 550px; padding: 20px 0 0 0; }
.ui-slider-cont label { width: 100px; height: 14px; line-height: 14px; padding: 0 0 10px 0; }
.ui-slider-cont label.left { float: left; text-align: left; }
.ui-slider-cont label.right { float: right; text-align: right; }
.ui-slider { position: relative; text-align: left; width: 100%; clear: both; border: 1px solid #d8d8d8; background: #f1f1f1; border-radius: 4px; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 1; width: 1.2em; height: 1.2em; cursor: default; border: 1px solid #aaa; background: #fff; border-radius: 4px; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; background: #F08E28; }
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { height: 1.2em; top: -.3em; margin-left: -.6em; transition: 0s; -moz-transition: 0s; -webkit-transition: 0s; -o-transition: 0s; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

/* Responsive */
@media only screen and (min-width: 281px) {
	/* Filters */
	#filters > ul > li { display: block; float: left; width: 100%; padding: 0; margin: 0; }
	#filters > ul > li.wide { width: 100%; }
	.ui-slider-cont { padding: 2px 0 10px 0; width: 230px; }
}

@media only screen and (min-width: 481px) {
	/* Filters */
	.ui-slider-cont { width: 400px; }
}

@media only screen and (min-width: 767px) {
	/* Filters */
	.ui-slider-cont { width: 650px; }
}

@media only screen and (min-width: 1025px) {
	/* Filters */
	#filters > ul > li { width: 33%; }
	#filters > ul > li.wide { width: 66%; }
	#filters > ul > li:nth-child(3n+1) { margin-top: 20px; }
	.ui-slider-cont { padding: 15px 0 0 0; width: 530px; }
}

@media only screen and (min-width: 1281px) {
	/* Filters */
	.ui-slider-cont { width: 630px; }
}