
/* Gneral */
.chzn-container .chzn-single span,.chzn-container li{color:#666;font-weight:400;}
.loading{min-height:22px;background:url(../../img/loading.gif) no-repeat 50% 50%!important;}
a.show-filter { width: 21px; height: 22px; background: url(../../img/filter.png) no-repeat; float: right; cursor: pointer; margin: 0 15px 0 0; }
#filters > ul { width: 100%; display: block; }
#filters > ul > li:first-child { margin-top: 0 !important; }
#filters > ul > li > center > input[type="text"] { width: 220px !important; }
#filters > ul > li > center .chzn-single li span { text-align: left !important; }
.chzn-container .chzn-single span, .chzn-container li { text-align: left !important; }
.overlay { background: rgba(255,255,255,.6) url('../../img/loading.gif') no-repeat 50% 50%; }
.clear { clear: both; height: 0; line-height: 0; }

/* Product Table */
#product_table #id{width:100px!important;margin:0;}
#product_table #title{width:95%!important;margin:0;}
#product_table .chzn-container{width:50px!important;margin:0;}
#product_table .chzn-container .chzn-drop{width:168px!important;}
#product_table .actions{width:85px!important;}
#product_table .item-img{width:40px!important;}
#product_table img{width:32px;height:32px;display:block;background:url(../../img/none.jpg) no-repeat;background-size:32px 32px;overflow:hidden;text-indent:-1000px;}
#product_table .chzn-container .chzn-search,#product_table .chzn-container .chzn-search input{width:133px!important;}
#product_table thead tr .tablesorter-header{background-image:url(../../img/bg.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
#product_table thead tr .tablesorter-headerAsc{background-image:url(../../img/asc.gif);}
#product_table thead tr .tablesorter-headerDesc{background-image:url(../../img/desc.gif);}
#product_table thead tr .tablesorter-headerDesc, table.tablesorter thead tr .tablesorter-headerAsc{background-color:#f3f3f3;color:#000;}
#product_table .sorter-false { background-image: none !important; }
#product_table input[type=search] { width: 100% !important; min-width: 100% !important; }
#product_table tbody tr td { position: relative; }
#product_table tbody tr.loading td { width: 100%; height: 200px; background:url(../../img/loading.gif) no-repeat 50% 50%; }
#product_table tr.selected td { background: #E1EFFB; }
#product_table tr td:first-child, #product_table tr th:first-child { width: 10px !important; text-align: center; }
#product_table tr td:nth-child(3), #product_table tr th:nth-child(3) { width: 32px !important; text-align: center; }

/* Image Dropbox */
#dropbox{position:relative;min-height:290px;border-radius:15px;padding:4px 4px 44px;}
#dropbox.dragging{background:rgba(100,100,100,0.05);border:4px dashed rgba(100,100,100,0.2);padding:0 0 40px;}
#dropbox .message{font-size:30px;text-align:center;padding-top:147px;display:block;text-transform:uppercase;color:rgba(100,100,100,0.2);font-weight:700;}
#dropbox:before{border-radius:3px 3px 0 0;}
#dropbox .preview{width:245px;height:215px;float:left;position:relative;text-align:center;margin:55px 0 0 52px;}
#dropbox .preview img{max-width:240px;max-height:180px;border:3px solid #fff;display:block;box-shadow:0 0 2px #000;}
#dropbox .imageHolder{display:inline-block;position:relative;}
#dropbox .imageTitle{display:block;width:100%;text-align:center;position:relative;margin-top:20px;text-transform:uppercase;}
#dropbox .uploaded{position:absolute;top:0;left:0;height:100%;width:100%;background:url(../../img/done.png) no-repeat center center rgba(255,255,255,0.5);display:none;}
#dropbox .preview.done .uploaded{display:block;}
#dropbox .preview.error .uploaded{display:block;background-image:url(../../img/error.png);}
#dropbox .progressHolder{position:absolute;background-color:#E0DBDB;height:12px;width:100%;left:0;bottom:0;box-shadow:0 0 2px #000;}
#dropbox .progress{background-color:#EAA54F;position:absolute;height:100%;left:0;width:0;box-shadow:0 0 1px rgba(255,255,255,0.4) inset;-moz-transition:.25s;-webkit-transition:.25s;-o-transition:.25s;transition:.25s;}
#dropbox .preview.done .progress{width:100%!important;}
#dropbox .imageHolder:hover{cursor:move;}
#dropbox .imageHolder .delete{width:28px;height:28px;display:inline-block;overflow:hidden;text-indent:-1000px;top:-12px;right:-14px;position:absolute;background:url(../../img/delete.png) no-repeat;}

/* Form */
#title,#slug{width:350px!important;}
#cost,#cost_tax,#rrp,#rrp_tax,#price,#price_tax,#stock{width:70px;min-width:40px!important;}
#tabs textarea{width:100%;}
span.discount strong{color:#0C3;}
.clear{clear:both;height:0;line-height:0;}
button.link{width:40px;height:40px;background:url(../../img/link.png) no-repeat 0 0;overflow:hidden;text-indent:-1000px;border:0;}
button.link.unlinked{background-position:-40px 0;}
.mult_lists tr.alt{border-bottom:none;}
.mult_lists tbody{border:1px solid #eee;}
.mult_lists td{border-left:none!important;padding:1px 0 0!important;}
.mult_lists ul.multiple_list{overflow-x:hidden;width:100% !important;padding:5px!important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#mod_form textarea, #var_form textarea { width: 98% !important; max-width: 98% !important; }
#tabs ul > li > label { width: 20% !important; float: left !important; display: inline-block !important; }
#tabs ul > li > .input { width: 70% !important; display: inline-block !important; }
#tabs ul > li > .input > .disabled { opacity: 0.5 !important; }

/* Slider */
.ui-slider-cont { width: 550px; padding: 20px 0 0 0; }
.ui-slider-cont label { width: 100px; height: 14px; line-height: 14px; padding: 0 0 10px 0; }
.ui-slider-cont label.left { float: left; text-align: left; }
.ui-slider-cont label.right { float: right; text-align: right; }
.ui-slider { position: relative; text-align: left; width: 100%; clear: both; border: 1px solid #d8d8d8; background: #f1f1f1; border-radius: 4px; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 1; width: 1.2em; height: 1.2em; cursor: default; border: 1px solid #aaa; background: #fff; border-radius: 4px; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; background: #F08E28; }
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { height: 1.2em; top: -.3em; margin-left: -.6em; transition: 0s; -moz-transition: 0s; -webkit-transition: 0s; -o-transition: 0s; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

/* Modifiers */
table.modifiers span.mod-mover, table.modifiers span.var-mover { width: 24px; height: 16px; display: block; cursor: move; background: url('../../img/drag_handle_dark.gif') no-repeat 0 0; }
table.modifiers a.mod-min { background: url('../../img/showhide.png') no-repeat 0 100%; width: 24px; height: 24px; display: block; overflow: hidden; text-indent: -1000px; }
table.modifiers a.mod-min.show { background-position: 0 0; }
table.modifiers .btn.right { float: right; }

/* Responsive */
@media only screen and (min-width: 281px) {
	/* Filters */
	#filters > ul > li { display: block; float: left; width: 100%; padding: 0; margin: 0; }
	#filters > ul > li.wide { width: 100%; }
	.ui-slider-cont { padding: 2px 0 10px 0; width: 230px; }
	/* Table */
	#product_table tr th:nth-child(4), #product_table tr td:nth-child(4) { width: 40%; }
	#product_table tr th:nth-child(2), #product_table tr td:nth-child(2),
	#product_table tr th:nth-child(3), #product_table tr td:nth-child(3),
	#product_table tr th:nth-child(5), #product_table tr td:nth-child(5),
	#product_table tr th:nth-child(6), #product_table tr td:nth-child(6),
	#product_table tr th:nth-child(7), #product_table tr td:nth-child(7)
	{ display: none; }
}

@media only screen and (min-width: 481px) {
	/* Filters */
	.ui-slider-cont { width: 400px; }
	/* Table */
	#product_table tr th:nth-child(6), #product_table tr td:nth-child(6)
	{ display: table-cell; }
}

@media only screen and (min-width: 767px) {
	/* Filters */
	.ui-slider-cont { width: 650px; }
	/* Table */
	#product_table tr th:nth-child(4), #product_table tr td:nth-child(4) { width: 30%; }
	#product_table tr th:nth-child(2), #product_table tr td:nth-child(2),
	#product_table tr th:nth-child(7), #product_table tr td:nth-child(7)
	{ display: table-cell; }
}

@media only screen and (min-width: 1025px) {
	/* Filters */
	#filters > ul > li { width: 33%; }
	#filters > ul > li.wide { width: 66%; }
	#filters > ul > li:nth-child(3n+1) { margin-top: 20px; }
	.ui-slider-cont { padding: 15px 0 0 0; width: 530px; }
	/* Table */
	#product_table tr th:nth-child(4), #product_table tr td:nth-child(4) { width: 20%; }
	#product_table tr th, #product_table tr td { display: table-cell!important;}
}

@media only screen and (min-width: 1281px) {
	/* Filters */
	.ui-slider-cont { width: 630px; }
}